body {background-color:#ADD8E6;}

h1 {font-family: georgia, serif;
    color: #000000;
    text-align: center;}

p {font-family: "Times New Roman", Times, serif;
   font-size: 17px;}

h2 { font-size: 30px; }

